In [54]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Sambava,-14.2667,50.1667,292.92,79,13,3.87,MG,2022-10-20 00:06:03
1,1,Kapaa,22.0752,-159.3190,300.33,74,75,8.75,US,2022-10-20 00:06:03
2,2,Tasiilaq,65.6145,-37.6368,274.24,97,100,3.44,GL,2022-10-20 00:06:04
3,3,Bredasdorp,-34.5322,20.0403,287.78,91,93,3.90,ZA,2022-10-20 00:06:04
4,4,Ribeira Grande,38.5167,-28.7000,291.91,76,100,4.02,PT,2022-10-20 00:06:05

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [17]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [23]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.

heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 283
What is the maximum temperature you would like for your trip? 311

In [36]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Sambava,-14.2667,50.1667,292.92,79,13,3.87,MG,2022-10-20 00:06:03
1,1,Kapaa,22.0752,-159.3190,300.33,74,75,8.75,US,2022-10-20 00:06:03
3,3,Bredasdorp,-34.5322,20.0403,287.78,91,93,3.90,ZA,2022-10-20 00:06:04
4,4,Ribeira Grande,38.5167,-28.7000,291.91,76,100,4.02,PT,2022-10-20 00:06:05
6,6,Beira,-19.8436,34.8389,296.72,79,98,2.28,MZ,2022-10-20 00:06:06
8,8,Bom Jesus,-9.0744,-44.3586,304.21,28,78,2.58,BR,2022-10-20 00:06:08
9,9,Bluff,-46.6000,168.3333,286.93,74,96,15.16,NZ,2022-10-20 00:06:09
10,10,Cabo San Lucas,22.8909,-109.9124,303.49,69,0,5.66,MX,2022-10-20 00:04:43
12,12,San Cristobal,7.7669,-72.2250,293.01,97,97,0.64,VE,2022-10-20 00:06:11
14,14,Hermanus,-34.4187,19.2345,289.15,90,88,5.34,ZA,2022-10-20 00:06:13

In [37]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0          Sambava      MG    292.92 -14.2667   50.1667
1            Kapaa      US    300.33  22.0752 -159.3190
3       Bredasdorp      ZA    287.78 -34.5322   20.0403
4   Ribeira Grande      PT    291.91  38.5167  -28.7000
6            Beira      MZ    296.72 -19.8436   34.8389
8        Bom Jesus      BR    304.21  -9.0744  -44.3586
9            Bluff      NZ    286.93 -46.6000  168.3333
10  Cabo San Lucas      MX    303.49  22.8909 -109.9124
12   San Cristobal      VE    293.01   7.7669  -72.2250
14        Hermanus      ZA    289.15 -34.4187   19.2345

In [42]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [53]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
  # Grab the first hotel from the results and store the name.
    try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        except (IndexError):
    print("Hotel not found... skipping.")

IndentationError: expected an indented block (2665245328.py, line 16)

In [52]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [ ]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [ ]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

NameError: name 'locations' is not defined